body {
  font-family: Arial, Helvetica, sans-serif;
  margin: auto;
  width: 100%;
  position: center;
  background-color: #eeeaea;
  color: #596980;
}
.navbar-brand {
  margin: 20px;
}
.navbar {
  background-color: #eeeaea;
  overflow: hidden;
  position: relative;
  color: #596980;
}

button {
  border: 1px solid #eaeaea;
  color: #596980;
  border-radius: 5px;
  background-color: #d8d8d8;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin-right: 20px;
  cursor: pointer;
  padding: 10px;
  margin-bottom: 10px;
}
